/* GRIDS */

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid black;
  border-radius: 5px;
}

.infiniteGrid {
  height: 300px;
  width: 300px;
  padding: 2px;
}

.parentGrid {
  height: 600px;
  width: 600px;
  gap: 10px;
  padding: 10px;
  border-width: 2px;
}

.childGrid {
  padding: 2px;
}

.conqueredGrid {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid black;
  border-radius: 5px;

  font-size: 200%;
  transition: all 1s;
}

.hlConqueredGrid {
  background-color: black;
  color: white;
  border-color: white;
}

/* CELLS */

.cell {
  outline: none;
  text-decoration: none;
  border: none;
  background-color: white;
  color: black;

  margin: 3px;
  transition: all 0.5s;
  padding: 2px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 200%;
}

.selectableCell:hover {
  padding: 0px;
  border-width: 3px;
}

.hlCell {
  background-color: black;
  color: white;
  border-color: white;
}
