* {
  font-family: "JetBrains Mono", monospace;
}

.layout {
  position: absolute;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-rows: 2fr 15fr 1fr;
  grid-template-columns: 1fr;
}

button {
  background: white;
  margin: 10px;
}

button:hover {
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    text-align: center;
  }
  a {
    color: blue;
    text-decoration: none;
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    margin: 0;
  }
  p {
    margin: 0;
    text-align: center;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingImg {
  aspect-ratio: 1;
  width: 500px;
  max-width: 100vw;
}
