* {
  font-family: "Montserrat", sans-serif;
}

.layout {
  position: absolute;
  top: 0;
  left: 0;

  height: 100dvh;
  width: 100dvw;

  display: grid;
  grid-template-rows: 2fr 15fr 1fr;
  grid-template-columns: 1fr;
}

button {
  background: white;
  margin: 10px;
}

button:hover {
  cursor: pointer;
}

input {
  outline: none;
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
footer p {
  text-align: center;
  max-width: 80vw;
}
footer a {
  color: blue;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h2 {
  margin: 0;
}

header p {
  margin: 0;
  text-align: center;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingImg {
  aspect-ratio: 1;
  width: 500px;
  max-width: 100vw;
}
